<%- include ("../partials/headers.ejs") %>
</head>

<body>
    <p class="ask">Where do you want to be ?</p>
    <%- include ("../partials/nav.ejs") %>

    <!-- JAVASCRIPT -->
    <script src="./script/home.js"></script>

</body>

</html>